body {
	margin: 0;
	padding: 0;
}

.title {
	text-align: center;
}

.form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 400px;
}

.inputs {
	padding: 15px;
	border: 1px solid grey;
	border-radius: 20px;
}

.submit-btn {
	padding: 10px 70px;
	max-width: 200px;
	align-self: center;
	border: 1px solid grey;
	border-radius: 15px;
	cursor: pointer;
}